<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table class="table" style="text-align: center; width: 100%; font-size: 15px;">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">IP address</th>
      <th scope="col">IP Location</th>
      <th scope="col">From Antik</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
  {{range $index, $element := .Data}}
    <tr>
      <th scope="row">{{$element.ID}}</th>
      <td>{{$element.IP}}</td>
      <td>{{$element.IPLocation}}</td>
      <td>{{$element.IsAntik}}</td>
      <td>{{$element.Count}}</td>
    </tr>
  {{end}}
  </tbody>
</table>

  <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>